-
    var cardInfo = [{time: "02 Sep 2018",title: "It S Classified How To Utilize Free Classified Ad Sites To Boost Business",description: "Marketers/advertisers usually focus their efforts on the people responsible for making the purchase."},
    {time: "04 Jun 2018",title: "12 Handy Tips For Generating Leads Through Cold Calling",description: "I want to talk about to things that are quite important to me. There are love and one my personal inadequacies."},
    {time: "08 Mar 2018",title: "Make Money Online Through Advertising",description: "Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is difficult at best."}];

section
    .centerWrap
        .content
            .tabs__container
                header(class="tabs__header flex__container flex__container_row")
                    h3 Popular
                    nav(class="tabs")
                        a(href="#" class="tabs__item menu__item tabs__item_active" data-tab="1") Today
                        a(href="#" class="tabs__item menu__item" data-tab="2") This week
                        a(href="#" class="tabs__item menu__item" data-tab="3") Month
                section(class="tabs__content")
                    section(class="flex-cards tabs__contain flex__container flex__container_row tabs__contain_active"  data-tab="1")
                        for i in cardInfo
                            .flex-cards__item
                                time(class="style__gray")=i.time
                                h4=i.title
                                p=i.description
                    section(class="flex-cards tabs__contain flex__container flex__container_row"  data-tab="2")
                        for i in cardInfo
                            .flex-cards__item
                                time(class="style__gray")=i.time
                                h4=i.title
                                p=i.description
                    section(class="flex-cards tabs__contain flex__container flex__container_row" data-tab="3")
                        for i in cardInfo
                            .flex-cards__item
                                time(class="style__gray")=i.time
                                h4=i.title
                                p=i.description